<mat-card class="mat-elevation-z4">
  <mat-card-title color="primary">Add Author</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Author Name</mat-label>
        <input matInput [(ngModel)]="author.name" name="name" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-button routerLink="/authors">Cancel</button>
    </form>
  </mat-card-content>
</mat-card>
